/**
 * 14.4 - >= 985px
 */

@media screen and (min-width: 61.5625em) {
  .site-main {
    margin-bottom: 7.0em;
  }
  .site-header {
    padding: 5.25em 4.5455%;
  }
  .site-branding, .site-header-menu, .header-image {
    margin-top: 1.75em;
    margin-bottom: 1.75em;
  }
  .custom-logo {
    max-width: 240px;
  }
  .image-navigation {
    margin-bottom: 3.230769231em;
  }
  .post-navigation {
    margin-bottom: 7.0em;
  }
  .pagination {
    margin-bottom: 5.894736842em;
  }
  .widget {
    margin-bottom: 4.307692308em;
  }
  .site-main > article {
    margin-bottom: 7.0em;
  }
  .entry-title {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 1.225;
    margin-bottom: 1.05em;
  }
  .format-aside .entry-title, .format-image .entry-title, .format-video .entry-title, .format-quote .entry-title, .format-gallery .entry-title, .format-status .entry-title, .format-link .entry-title, .format-audio .entry-title, .format-chat .entry-title {
    font-size: 23px;
    font-size: 1.4375em;
    line-height: 1.304347826;
    margin-bottom: 1.826086957em;
  }
  .post-thumbnail {
    margin-bottom: 2.625em;
  }
  .entry-content h1, .entry-summary h1, .comment-content h1 {
    font-size: 33px;
    font-size: 2.0625rem;
    line-height: 1.2727272727;
    margin-top: 1.696969697em;
    margin-bottom: 0.8484848485em;
  }
  .entry-content h2, .entry-summary h2, .comment-content h2 {
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 1.25;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .entry-content h3, .entry-summary h3, .comment-content h3 {
    font-size: 23px;
    font-size: 1.4375rem;
    line-height: 1.2173913043;
    margin-top: 2.4347826087em;
    margin-bottom: 1.2173913043em;
  }
  .entry-content h4, .entry-summary h4, .entry-intro h4, .comment-content h4 {
    letter-spacing: 0.131578947em;
  }
  .entry-content {
    h4, h5, h6 {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.1052631579;
      margin-top: 2.9473684211em;
      margin-bottom: 1.473684211em;
    }
  }
  .entry-summary {
    h4, h5, h6 {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.1052631579;
      margin-top: 2.9473684211em;
      margin-bottom: 1.473684211em;
    }
  }
  .comment-content {
    h4, h5, h6 {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.1052631579;
      margin-top: 2.9473684211em;
      margin-bottom: 1.473684211em;
    }
  }
  .author-info {
    border-bottom-width: 0;
    padding-bottom: 0;
  }
  .comment-list + .comment-respond, .comment-navigation + .comment-respond {
    padding-top: 5.25em;
  }
  .comments-area, .sidebar, .content-bottom-widgets .widget-area, .widecolumn {
    margin-bottom: 7.0em;
  }
  body:not(.search-results) {
    .entry-summary {
      margin-bottom: 2.210526316em;
    }
    .entry-header + .entry-summary {
      margin-top: -1.105263158em;
    }
    article:not(.type-page) {
      .entry-content {
        float: right;
        width: 71.42857144%;
        > blockquote.alignleft.below-entry-meta {
          margin-left: -40%;
          width: -webkit-calc(60% - 1.4736842105em);
          width: calc(60% - 1.4736842105em);
        }
      }
      img.below-entry-meta {
        clear: both;
        display: block;
        float: none;
        margin-right: 0;
        margin-left: -40%;
        max-width: 140%;
      }
      figure.below-entry-meta {
        clear: both;
        display: block;
        float: none;
        margin-right: 0;
        margin-left: -40%;
        max-width: 140%;
        img.below-entry-meta {
          margin: 0;
          max-width: 100%;
        }
      }
      table {
        figure.below-entry-meta, img.below-entry-meta {
          margin: 0;
          max-width: 100%;
        }
      }
      .entry-footer {
        float: left;
        margin-top: 0.1538461538em;
        width: 21.42857143%;
        > span:not(:last-child):after {
          display: none;
        }
      }
    }
  }
  .single .byline, .full-size-link {
    display: block;
    margin-bottom: 0.5384615385em;
  }
  body {
    &:not(.search-results) {
      &.group-blog .byline, .entry-format, .cat-links, .tags-links {
        display: block;
        margin-bottom: 0.5384615385em;
      }
      article {
        &:not(.sticky) .posted-on {
          display: block;
          margin-bottom: 0.5384615385em;
        }
        &:not(.type-page) {
          .comments-link {
            display: block;
            margin-bottom: 0.5384615385em;
          }
          .entry-footer {
            .edit-link {
              display: block;
              margin-bottom: 0.5384615385em;
            }
            > span:last-child {
              margin-bottom: 0;
            }
            .avatar {
              display: block;
              height: auto;
              margin: 0 0 0.5384615385em;
              width: 49px;
            }
          }
        }
      }
    }
    &.no-sidebar:not(.search-results) article:not(.type-page) {
      .entry-content {
        float: left;
        margin-right: -100%;
        margin-left: 34.99999999%;
        width: 50.00000001%;
      }
      .entry-footer {
        margin-right: -100%;
        margin-left: 0%;
        width: 0%;
      }
    }
  }
}