// Custom V&P stuff

body {
  
  .gform_wrapper .gfield_checkbox li input, 
  .gform_wrapper .gfield_checkbox li input[type=checkbox], 
  .gform_wrapper .gfield_radio li input[type=radio] {
      vertical-align: baseline;
  }

}
